*{
    box-sizing: border-box;
}
/* Background image */
body {
    background-image: url(https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?cs=srgb&dl=white-surface-1774986.jpg&fm=jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
  }
/* Navbar */
.navbar {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 400;
}
/* Body styling */
h1 {
      font-family: 'Montserrat Subrayada', sans-serif;
      padding-top: 2rem;
      text-align: left;
      font-size: 200%;
      color: whitesmoke;
  }
/* Container styling for black background color and padding */
.container {
    width: 90%;
    margin: 40px auto 0;
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: black;
    }
/* Photo of Casandra */
.img-me {
  width: 90%;
  padding-top: 2rem;
  ;
}
/* Portfolio images */
.img {
      padding: 2rem;
      padding-bottom: 0rem;
      object-fit: scale-down;
      width: 100%;
      overflow: hidden;
  }
/* Paragraphs */
p {
      padding-top: 2rem;
      font-family: 'Raleway', sans-serif;
      font-size: large;
      color: whitesmoke;
      text-align: left;
  }
/* Flex box for portfolio */
.portfolio-flex-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    margin: 40px auto;
    justify-content: space-evenly;  
    background-color: black;
  }
/*  */
h2 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
/* Contact form headers */
h3 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}
 /* Sticky footer */
.footer { 
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer ul { 
  list-style: none;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.list-inline {
  display: inline;
}
/* Media queries for screen size changes */
@media (min-width: 576px) {
  h1 {
    font-size: 300%;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 400%;
    padding-top: 4rem;
  }
  .img-me{
    width: 70%;
  }
}
