body, 
html, 
header, 
.view {
    height: 100%;
    position: fixed;
  }

.navbar {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 400;
}

.navbar-text {
    font-size: x-large;
    color: black;
    float:right;
}
  /* Background image */
  .view {
    background-image: url(https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?cs=srgb&dl=white-surface-1774986.jpg&fm=jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .container {
  }

  h1 {
      font-family: 'Montserrat Subrayada', sans-serif;
      padding-top: 4rem
  }

  .img {
      padding-top: 3rem;
      padding-right: 2rem;
  }

  p {
      padding-top: 3rem;
  }

  .col-md-6 {
      padding-top: 3rem;
      text-align: center;
  }
  
  