*{
    box-sizing: border-box;
}
/* Background image */
body {
    background-image: url(https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?cs=srgb&dl=white-surface-1774986.jpg&fm=jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: whitesmoke;
  }
/* Navbar */
.navbar {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 400;
}
/* Body styling */
h1 {
      font-family: 'Montserrat Subrayada', sans-serif;
      padding-top: 2rem;
      text-align: left;
      font-size: 4rem;
      color: whitesmoke;
  }

.container {
    width: 1024px;
    margin: 40px auto;
    background-color: black;
    }

.img {
      padding: 2rem;
      padding-bottom: 0rem;
  }

p {
      padding-top: 2rem;
      font-family: 'Raleway', sans-serif;
      font-size: large;
      color: whitesmoke;
      text-align: left;
  }

/*  
@media screen and (max-width: 768px) {
      body {
    background-image: url(https://images.pexels.com/photos/1774986/pexels-photo-1774986.jpeg?cs=srgb&dl=white-surface-1774986.jpg&fm=jpg);
      }
  }
*/
.portfolio-flex-box {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 40px auto;
    justify-content: space-evenly;
    background-color: black;
}

h2 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.footer-list li {
  display: inline-block !important;
}

/* @media screen and (min-width: 400) */