body {
    background-color: darkseagreen;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
}

h2 {
    font-family: 'Righteous', cursive;
    color:yellow;
}

img.animated-gif {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid rgb(235, 202, 220);
}

p {
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card-body {
    background-color: rgb(235, 202, 220);
    border: 3px solid yellow;
}

h5 {
    font-family: 'Righteous', cursive;
}

